@import url("./variables.css");

/*  CONTACT PAGE STYLES  */
#contact{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

#contact .hero{
    width: 100%;
    height: 100vh;
}
#contact .hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form__cont h2{
    margin: 1em 0;
    text-align: center;
    font-size: var(--ft-lg);
    font-weight: 700;
}

.form__cont p{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: var(--ft);
    font-weight: 400;
}

form{
    width: 100%;
    min-height: 100vh;
    padding-top: 2em;
    padding-inline: 2em;
}

.form__item__cont{
    height: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.form__item__cont .form__1{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__item__cont .form__1 div{
    display: flex;
    height: 25%;
    flex-direction: column;
    margin-bottom: 2em;
}

.form__item__cont .form__1 input{
    width: 100%;
    /* height: 80%; */
    margin-top: 1em;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    padding: .5em 1.3em;
    color: black;
    font-size: 1.3em;
}

.form__item__cont .form__1 input:focus{
    outline: none;
}

.form__item__cont .form__2{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form__item__cont .form__2 label, .form__item__cont .form__1 label{
    text-transform: uppercase;
    font-size: var(--ft);
    font-weight: 600;
    cursor: pointer;
}

.form__item__cont .form__2 textarea{
    width: 100%;
    margin-top: 1em;
    height: 100%;
    padding: 1em 2em;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    font-size: 1.5em;
}

.form__item__cont .form__2 textarea:focus{
    outline: none;
}

form button{
    display: block;
    width: 250px;
    height: 60px;
    border-radius: 8px;
    margin: 0 auto;
    font-size: var(--ft-sm);
    font-weight: 400;
    cursor: pointer;
    border: 2px solid var(--secondary);
    background: transparent;
}

form button:hover{
    background-color: var(--secondary);
    color: white;
}

.modal{
    display: none;
}
.modal.active{
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: rgba(128, 128, 128, 0.827);
    position: fixed;
    top: 0;
    left: 0;
}
.modal_content{
    width: 40%;
    height: auto;
    margin-block: calc((100vh - 40vh)/2);
    margin-inline: calc((100vw - 40vw)/2);
    background-color: rgb(166, 237, 185);
    border-radius: 2em;
    padding: 2em;
}
.modal_content p{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    font-size: var(--ft-xsm);
}

.modal_content button{
    width: 180px;
    margin-top: 2em;
    padding: .5em 2em;
    margin-left: calc((100% - 180px)/2);
    border-radius: 1em;
    background-color: var(--secondary);
    color: white;
    font-size: var(--ft-xsm);
    border: none;
    cursor: pointer;
}
/*  ABOUT US PAGE STYLES  */

.story{
    width: 100%;
    margin-block: 2em;
    background-color: var(--primary);
}

.story .top__layer{
    display: flex;
}

.top__layer .img__wrap{
    margin-top: 2.6em;
}

.top__layer .text__wrap h2{
    font-weight: 400;
    margin-block: .8em;
}

.story > p{
    width: 85%;
    margin: 0 auto;
    font-size: var(--ft);
    font-weight: 400;
    padding-bottom: 1em;
}

.challenges h2, .impact h2, .mis__vis h2{
    width: 100%;
    height: 10vh;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: var(--ft-lg);
    font-weight: 700;
}
main section {
    padding-bottom: 3em;
}
section .flex__cont{
    width: 100%;
    min-height: 70vh;
    background-color: var(--primary);
    margin-block: 1em;
    padding: 5em;
    display: flex;
    justify-content: space-between;
}
.flex__cont .img__cont{
    width: 35%;
    height: 100%;
}
.flex__cont .img__cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex__cont .text__cont{
    width: 50%;
    font-size: var(--ft);
    font-weight: 400;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.flex__cont .text__cont ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mis__vis ul h3{
    text-align: center;
    color: var(--secondary);
    font-weight: 600;
    margin-bottom: .5em;
}
.mis__vis .vision{
    margin-top: 15vh;
}

@media screen and (max-width: 1024px) {
    .story .top__layer{
        flex-direction: column;
    }
    .story .top__layer .img__wrap{
        display: absolute;
        right: -10000px;
    }
    .about .text__wrap{
        width: 100%;
        height: auto;
    }
    .about .text__wrap p{
        width: 85%;
        margin-bottom: 0;
    }
    section .flex__cont{
        padding: 2em;
    }
    .flex__cont{
        flex-direction: column;
    }
    .flex__cont .img__cont{
        position: absolute;
        right: -100000px;
    }
    .flex__cont .text__cont{
        width: 100%;
    }
    .contact .form__cont p{
        width: 100%;
        text-align: left;
        padding-inline: 1em;
    }
    .contact .form__item__cont{
        flex-direction: column;
    }
    .form__item__cont .form__1, .form__item__cont .form__2{
        width: 100%;
    }
    .form__item__cont .form__1{
        margin-bottom: 2em;
    }
    .modal_content{
        width: 60%;
        margin-left: calc((100vw - 60%)/2);
    }
}

@media screen and (max-width: 760px) {
    .modal_content{
        width: 80%;
        margin-left: calc((100vw - 80%)/2);
    }
}