@import url("./variables.css");

#project_detail{
    margin-top: 1em;
}

#project_detail .hero_sec{
    width: 100%;
    height: 90vh;
    /* margin-bottom: 2.4em; */
}

#project_detail .hero_sec .project_coverImg{
    width: 100%;
    height: 90%;
}

#project_detail .hero_sec .project_coverImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#project_detail .hero_sec h2{
    text-align: center;
    font-size: var(--ft-md-s);
    font-weight: 700;
    margin-top: 1em;
}

#project_detail .project_content{
    background-color: var(--primary);
}
#project_detail .project_content .content_cont{
    padding-block: 2em;
    width: 90%;
    margin: 2.4em auto;
    text-align: justify;
    font-weight: 400;
    font-size: var(--ft);
}

#article_detail{
    width: 100%;
    height: auto;
    margin: 1em auto;
    background-color: #F1FEF1;
}

#article_detail section{
    width: 90%;
    margin: 0 auto;
    padding-block: 2em;
}

#article_detail section .page_heading{
    margin-bottom: 1em;
}

#article_detail section .article_title{
    font-weight: 700;
    font-size: var(--ft-lg);
    margin-block: .1em;
}

#article_detail .time_line{
    font-size: var(--ft);
    font-weight: 400;
}

#article_detail .time_line .date{
    border-right: 1px solid black;
    padding-right: 10px;
}

#article_detail .time_line .time{
    padding-left: 10px;
}

#article_detail .article_content{
    font-size: var(--ft);
    font-weight: 400;
    line-height: 33px;
}

#article_detail .article_content .first_layer{
    display: flex;
    font-size: var(--ft);
    font-weight: 400;
    margin-bottom: .6em;
}

#article_detail .article_content .first_layer .img_cont{
    margin-right: 2em;
}

/* STYLES RELATED TO TEAMMATE PAGE*/

#team_page .hero{
    width: 100%;
    min-height: 70vh;
    /* background-color: red; */
    text-align: center;
}

#team_page .hero .img_cont{
    width: 500px;
    height: 500px;
    border: 15px solid var(--secondary);
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#team_page .hero .img_cont img{
    width: 90%;
    height: 90%;
}

#team_page .hero h2{
    font-weight: 700;
    font-size: var(--ft-md-s);
    width: 20%;
    margin: 0 auto;
}

#team_page .hero h4{
    font-weight: 400;
    font-size: var(--ft);
    margin-top: .2em;
}

#team_page .hero .social_links{
    display: flex;
    width: 20%;
    margin: 1em auto;
    justify-content: space-evenly;
}

#team_page #tab_cont{
    margin-bottom: 4em;
}

#team_page #tab_cont ul.ui-widget-header{
    background: none;
    justify-content: center;
}

#team_page #tab_cont .cont{
    background-color: var(--primary);
    padding: 2em;
}

#team_page #tab_cont .cont ._article{
    margin-block: 1em;
}

#team_page #tab_cont .cont ._article h3{
    font-weight: 600;
    font-size: var(--ft-md-s);
}

#team_page #tab_cont .cont ._article p{
    font-weight: 400;
    font-style: italic;
    font-size: var(--ft-md-s);

}

#projects .first__lin{
    width: 100%;
    height: 450px;
    margin-block: 2em;
    display: flex;
    justify-content: space-between;
}

#projects .img__cont{
    width: 32.5%;
    font-size: 1.4em;
    font-weight: 600;
}

#projects .img__cont div{
    width: 100%;
    height: 90%;
}

#projects .img__cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BLOG-PAGE RELATED STYLES*/

#blog .hero{
    width: 100%;
    height: 90vh;
    background: url('../media/blog_hero.svg') no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog .hero::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(62, 62, 62, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

#blog .hero .img_cont{
    width: 20%;
    height: 10vh;
    z-index: 99
}

#blog .hero .img_cont img{
    width: 100%;
    height: 100%;
}

#blog .blog_content{
    width: 100%;
    min-height: 150vh;
    padding-block: 2em;
}

#blog .blog_content h2{
    text-align: center;
    font-size: var(--ft-md-s);
    font-weight: 500;
    margin-bottom: 1em;
}

#blog .blog_content .struct_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#blog .blog_content .struct_wrapper .main_blog{
    width: 45%;
}

#blog .blog_content .struct_wrapper aside{
    width: 30%;
}

#blog .blog_content .struct_wrapper .main_blog .blog_item_cont{
    width: 100%;
    min-height: 60vh;
    margin-block: 1em;
}

#blog .blog_content .struct_wrapper .main_blog .blog_item_cont .img_cont{
    width: 100%;
    height: 80%;
}

#blog .blog_content .struct_wrapper .main_blog .blog_item_cont .img_cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#blog .blog_content .struct_wrapper .main_blog .blog_item_cont p{
    padding-inline: 1em;
    font-size: var(--ft);
    font-weight: 400;
    width: 100%;
}

#blog .blog_content .struct_wrapper .main_blog .blog_item_cont span{
    font-size: var(--ft-xsm);
    padding-inline: 1em;
}

#blog .blog_content .struct_wrapper .main_blog .blog_item_cont span.first{
    border-right: 1px solid gray;
}

#blog .blog_content .struct_wrapper aside h3{
    font-size: var(--ft-md-s);
    font-weight: 500;
}

#blog .blog_content .struct_wrapper aside .recent_blog{
    width: 100%;
    height: 35vh;
    margin-block: 1em;
    display: flex;
    /* justify-content: space-between; */
}

#blog .blog_content .struct_wrapper aside .recent_blog .img_cont{
    width: 50%;
    height: 100%;
}

#blog .blog_content .struct_wrapper aside .recent_blog .img_cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#blog .blog_content .struct_wrapper aside .recent_blog .text_wrap{
    width: 50%;
    padding: 2em 1em;
}

#blog .blog_content .struct_wrapper aside .recent_blog .text_wrap h4{
    margin-bottom: 1em;
    font-weight: 400;
    font-size: var(--ft-sm);
}

@media screen and (max-width: 890px) {}
@media screen and (max-width: 600px) {}