@import url("./variables.css");
#gallery .hero{
    width: 100%;
    height: 80vh;
    background-color: red;
    margin-bottom: 3em;
    position: relative;
    background: url('../media/gallery_hero.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gallery .hero::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(81, 78, 78, 0.365);
}

#gallery .hero div{
    /* width: 20%; */
    font-size: 64px;
    font-weight: 800;
    padding-inline: .7em;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.7);
    color: transparent;
    position: absolute;
    top: 40%;
    left: 40%;
}

#gallery .hero > * > p{
    background-image: url(../media/cow.jpg);
    background-position: top;
    background-size: cover;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

#gallery .album .grid__cont{
    width: 95%;
    min-height: 150vh;
    margin: 1.8em auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, calc((150vh- 15%) / 4));
    gap: 1%;
    margin-bottom: 3em;
}

#gallery .item__0{
    grid-column: 1/2;
    grid-row: 1/span 2;
}

#gallery .item__2{
    grid-column: 3/-1;
    grid-row: 1/ span 2;
}

#gallery .item__4{
    grid-column: 1/2;
    grid-row: 3/ span 2;
}

#gallery .item__6{
    grid-column: 3/-1;
    grid-row: 3/ span 2;
}

#gallery .grid__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery .projects .project__grp{
    width: 95%;
    margin: 0 auto;
}

#gallery .projects .first__lin, #gallery .projects .second__lin{
    width: 100%;
    min-height: 450px;
    margin-block: 2em;
    display: flex;
    justify-content: space-between;
}

#gallery .projects .img__cont{
    width: 32.5%;
    font-size: 1.4em;
    font-weight: 600;
}

#gallery .projects .img__cont div{
    width: 100%;
    height: 90%;
}

#gallery .projects .img__cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery .article .article__grp{
    width: 95%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px;
    gap: 20px;
    font-size: 1.4em;
    font-weight: 600;
}

#gallery .article .article__grp .img__cont div{
    width: 100%;
    height: 90%;
}

#gallery .article .article__grp .img__cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery .projects .img__cont h4, #gallery .article .article__grp .img__cont h4{
    text-transform: uppercase;
    font-size: var(--ft-sm);
    text-align: center;
}

@media screen and (max-width: 790px) {
    #gallery .hero div{
        font-size: 40px;
        /* left: calc((100% - 237)/2); */
    }

    #gallery .projects .first__lin, #gallery .projects .second__lin{
        flex-direction: column;
    }

    #gallery .projects .first__lin .img__cont, #gallery .projects .second__lin .img__cont{
        width: 100%;
    }

    .gallery .article .article__grp{
        display: flex;
        flex-direction: column;
    }
}