@import url("./variables.css");

/* HEADER ET NAVBAR STYLE */
header, footer{
    background-color: var(--primary);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    width: 10%;
    height: 100%;
    background-color: yellow;
}

header div img{
    width: 100%;
    height: 100%;
}

nav{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 1em;
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 600;
}

header .nav__item__cont{
    list-style: none;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

header .nav__item{
    width: 16%;
    height: 100%;
}

header .nav__item a{
    justify-content: center;
    display: flex;
    padding-top: .5em;
    text-decoration: none;
    width: 100%;
    color: black;
    height: 100%;
    cursor: pointer;
}

header .nav__item a:hover{
    background-color: var(--light-gray);
    border-radius: 8px;
    color: aliceblue;
}

header .nav__item.contact{
    background-color: var(--secondary);
    border-radius: 8px;
}

header .nav__item.contact a{
    color: white;
}

/* FOOTER STYLE */

/* HOME PAGE STYLES*/
.home{
    font-size: 300;
}