@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,300;1,400;1,500;1,700&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
            /* COLOR PALETTE*/
    --primary: rgba(77, 245, 84, 0.2);
    --light-primary: rgba(77, 245, 82, 0.2);
    --secondary: rgb(0, 82, 72);
    --txt-color: rgb(30, 30, 30);
    --gray: rgba(215, 215, 215, 1);
    --light-gray: rgba(62, 62, 62, 0.8);
    --bg-color: rgba(218, 243, 219, 1);



            /* FONT SIZES*/
    --ft-sm: 20px;
    --ft: 24px;
    --ft-md: 36px;
    --ft-lg: 40px;
    --ft-xlg: 48px;
}